html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  min-height: 100vh;
}

#game-container > canvas {
  display: block;
  border-radius: 1rem;
}
